{% extends 'app.twig' %}
{% import 'macro/form.twig' as form %}


{% block content %}
    <h1 class="title">{{ title }}</h1>

    {% if error %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ self }}" method="post">
        <div class="columns">
            <div class="column">
                <div class="box">
                    {% for opt, info in configDesc %}
                        {{ form.input(
                        opt,
                        'conf['~opt~']',
                        info.help,
                        account.configuration[opt],
                        info.type
                        ) }}
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% if isnew %}
                    <div class="box">

                        {{ form.input(
                        'Account Name',
                        'account',
                        'Should be short but recognizable',
                        account.account
                        ) }}
                    </div>
                {% endif %}

                <div class="box">
                    <button class="button is-primary" type="submit">Save Account</button>
                </div>

                {% if not isnew %}
                    {% set check = account.checkConfig() %}

                    <div class="notification {% if check.ok %}is-success{% else %}is-danger{% endif %}">
                        {{ check.info |nl2br }}
                    </div>

                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}