{% extends 'app.twig' %}
{% import 'macro/form.twig' as form %}


{% block content %}
    <h1 class="title">{{ title }}</h1>

    {% if error %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ self }}" method="post">
        <div class="columns">
            <div class="column">
                <div class="box">
                    {% for opt, info in configDesc %}
                        {{ form.input(
                        opt,
                        'conf['~opt~']',
                        info.help,
                        account.configuration[opt],
                        info.type
                        ) }}
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% if isnew %}
                    <div class="box">

                        {{ form.input(
                        'Account Name',
                        'account',
                        'Should be short but recognizable',
                        account.account
                        ) }}
                    </div>
                {% endif %}

                <div class="box">
                    <button class="button is-primary" type="submit">Save Account</button>
                </div>

                {% if not isnew %}
                    {% if account.backend == 'FinTS' and fintsState and not fintsState.isConfigured() %}
                        <div class="notification is-warning">
                            <p><strong>FinTS TAN Mode Setup Required</strong></p>
                            <p>This FinTS account needs to be configured with a TAN mode before it can be used.</p>
                            <a href="{{ path_for('fints-setup', {'account': account.account}) }}" class="button is-primary" style="margin-top: 10px;">
                                Configure TAN Mode
                            </a>
                        </div>
                    {% elseif account.backend == 'FinTS' and not fintsState %}
                        <div class="notification is-warning">
                            <p><strong>FinTS TAN Mode Setup Required</strong></p>
                            <p>This FinTS account needs to be configured with a TAN mode before it can be used.</p>
                            <a href="{{ path_for('fints-setup', {'account': account.account}) }}" class="button is-primary" style="margin-top: 10px;">
                                Configure TAN Mode
                            </a>
                        </div>
                    {% else %}
                        {% set check = account.checkConfig() %}
                        <div class="notification {% if check.ok %}is-success{% else %}is-danger{% endif %}">
                            {{ check.info |nl2br }}
                        </div>
                    {% endif %}

                    {% if account.backend == 'FinTS' and fintsState and fintsState.isConfigured() %}
                        <div class="box">
                            <h4 class="title is-5">FinTS Authentication Status</h4>
                            <p><strong>TAN Mode:</strong> {{ fintsState.tan_mode }}</p>
                            {% if fintsState.tan_medium %}
                                <p><strong>TAN Medium:</strong> {{ fintsState.tan_medium }}</p>
                            {% endif %}
                            <p><strong>Last Authentication:</strong> {{ fintsState.last_auth }}</p>
                            <p><strong>Expires:</strong> {{ fintsState.auth_expires }}</p>
                            <p><strong>Days until expiry:</strong> {{ fintsState.getDaysUntilExpiry() }}</p>

                            {% if fintsState.isExpired() %}
                                <div class="notification is-danger" style="margin-top: 10px;">
                                    Authentication has expired! Please re-authenticate.
                                </div>
                            {% elseif fintsState.getDaysUntilExpiry() <= 7 %}
                                <div class="notification is-warning" style="margin-top: 10px;">
                                    Authentication expires soon!
                                </div>
                            {% endif %}

                            <a href="{{ path_for('fints-setup', {'account': account.account}) }}" class="button is-link" style="margin-top: 10px;">
                                Re-configure / Re-authenticate
                            </a>
                        </div>
                    {% endif %}

                    <div class="box">
                        <a href="{{ path_for('account-del', {'account': account.account}) }}"
                           class="button is-danger really-del">Delete Account</a>
                        <p class="help">Note: Transactions and rules referencing this account will <b>not</b> be deleted.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}