{% extends 'app.twig' %}

{% block content %}
    <a href="{{ path_for('category') }}" class="button is-primary is-pulled-right">Add Category</a>
    <h1 class="title">{{ title }}</h1>


    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Top Level</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.top }}</td>
                <td>{{ cat.label }}</td>
                <td><a href="{{ path_for('category', {'id': cat.id }) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}