{% extends 'app.twig' %}

{% block content %}
    <section class="section">
        <a href="{{ path_for('rule') }}" class="button is-primary is-pulled-right">Add Rule</a>
        <h1 class="title">{{ title }}</h1>


        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Category</th>
                <th>Rules</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for rule in rules %}
                <tr>
                    <td>{{ rule.category.fullName }}</td>
                    <td>{{ rule.displayRules()|nl2br }}</td>
                    <td>
                        {% if rule.enabled %}
                            <span class="has-text-success">✓ Yes</span>
                        {% else %}
                            <span class="has-text-danger">✘ No</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path_for('rule', {'id': rule.id }) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}