{% macro input(label, name, help, value, type) %}
    <div class="field">
        <label class="label" for="{{ name }}">{{ label }}</label>
        <div class="control">
            <input class="input"
                   type="{{ type|default('text') }}"
                   name="{{ name }}"
                   value="{{ value }}"
                   id="{{ name }}"/>
        </div>
        {% if help %}
            <p class="help">{{ help | autolink }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro dropdown(label, name, help, data, value) %}
    <div class="field">
        <label class="label" for="{{ name }}">{{ label }}</label>
        <div class="control">
            <div class="select">
                <select name="{{ name }}" id="{{ name }}">
                    {% for key,val in data %}
                        <option value="{{ key }}" {% if key == value %}selected="selected"{% endif %}>{{ val }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if help %}
            <p class="help">{{ help | autolink }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro deepDropdown(label, name, help, data, value) %}
    <div class="field">
        <label class="label" for="{{ name }}">{{ label }}</label>
        <div class="control">
            <div class="select">
                <select name="{{ name }}" id="{{ name }}">
                    {% for group,sub in data %}
                        <optgroup label="{{ group }}">
                            {% for key,val in sub %}
                                <option value="{{ key }}"
                                        {% if key == value and key|length == value|length %}selected="selected"{% endif %}>{{ val }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if help %}
            <p class="help">{{ help | autolink }}</p>
        {% endif %}
    </div>
{% endmacro %}
